Node-red das aulas/flows 1.json
[
    {
        "id": "60db2913b8eaa178",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e4aa931b94e7813",
        "type": "telegram receiver",
        "z": "60db2913b8eaa178",
        "name": "",
        "bot": "6360080d6d24c27f",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "ee494193fe800fae",
                "88d2958a22b645a8"
            ],
            []
        ]
    },
    {
        "id": "da7a8bddee069b63",
        "type": "telegram sender",
        "z": "60db2913b8eaa178",
        "name": "",
        "bot": "6360080d6d24c27f",
        "haserroroutput": false,
        "outputs": 1,
        "x": 930,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ee494193fe800fae",
        "type": "debug",
        "z": "60db2913b8eaa178",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 220,
        "wires": []
    },
    {
        "id": "a337ea7cc3f3e88b",
        "type": "inject",
        "z": "60db2913b8eaa178",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "bot: ",
        "payloadType": "str",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "ff2054056a41282c"
            ]
        ]
    },
    {
        "id": "ff2054056a41282c",
        "type": "function",
        "z": "60db2913b8eaa178",
        "name": "function 1",
        "func": "msg.payload = msg.payload + \"Seja bem vindo ao meu bot!\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 80,
        "wires": [
            [
                "4512b7ca4ff2c69a"
            ]
        ]
    },
    {
        "id": "4512b7ca4ff2c69a",
        "type": "debug",
        "z": "60db2913b8eaa178",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "964313e6e1e68bb5",
        "type": "inject",
        "z": "60db2913b8eaa178",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "85d4f4948f5c132d"
            ]
        ]
    },
    {
        "id": "85d4f4948f5c132d",
        "type": "debug",
        "z": "60db2913b8eaa178",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "56611c4c090718d5",
        "type": "watson-assistant-v2",
        "z": "60db2913b8eaa178",
        "name": "",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/ba04109b-07dd-469b-bf3a-53a3a71ae680",
        "assistant_id": "12ac4a06-c8e1-4b0c-9b2b-2281dcb88edc",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "590db8f0927ee687",
                "0712e91e084ec8a4"
            ]
        ]
    },
    {
        "id": "88d2958a22b645a8",
        "type": "function",
        "z": "60db2913b8eaa178",
        "name": "function 2",
        "func": "msg.params = {\n    \"session_id\": msg.payload.chatId\n}\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "56611c4c090718d5",
                "ce3ea41a9cd815e2"
            ]
        ]
    },
    {
        "id": "590db8f0927ee687",
        "type": "function",
        "z": "60db2913b8eaa178",
        "name": "function 3",
        "func": "msg.payload = {\n    \"content\": msg.payload.output.generic[0].text,\n    \"chatId\": msg.params.session_id,\n    \"type\":\"message\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 320,
        "wires": [
            [
                "da7a8bddee069b63",
                "c862becf4c315b71"
            ]
        ]
    },
    {
        "id": "ce3ea41a9cd815e2",
        "type": "debug",
        "z": "60db2913b8eaa178",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 220,
        "wires": []
    },
    {
        "id": "0712e91e084ec8a4",
        "type": "debug",
        "z": "60db2913b8eaa178",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "c862becf4c315b71",
        "type": "debug",
        "z": "60db2913b8eaa178",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "6360080d6d24c27f",
        "type": "telegram bot",
        "botname": "garoto0bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]